@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --violet-color : #806FE3;
    --gray-own : #f8f9fa;
    --gray-dark : #7C7894;
    --gray-mid : #CCCCCC;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-top: 1rem;
}