@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap');

/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background-white : #FAFAFD;
    --title-black : #24222A;
    --text-gray : #D8D7DE;
    --text-gray-weight : #AFAEB7;
    --others-purple : #6C55E0;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    width: 100%;
    height: 100%;

    color: var(--title-black);
    background-color: var(--background-white);
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

a{
    color: var(--title-black);
    text-decoration: none;
}

.container {
    margin: 1rem 150px 1rem 150px;
}


/* NAV BAR */
/* .nav-bar, .nav-bar-left, .nav-bar-right, .name{
    border: 1px solid red;
} */

.nav-bar{
    height: 50px;

    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-left{
    height: 100%;
    width: 40%;

    display: flex;
    justify-content: start;
    align-items: center;
}

.name {
    height: 80%;

    display: flex;
    justify-content: start;
    align-items: center;
}

.nav-bar-right{
    height: 100%;
    width: 60%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-features a:hover{
    color : var(--others-purple);
}

.nav-feature i{
    transform: rotate(-30deg);
}


/* ABOUT  */
/* .about, .about-left, .about-right, .abt-left-media, .abt-left-presentation,
.medias{
    border: 1px solid red;
} */
.about{
    height: 300px;
    width: 100%;

    margin-top: 5em;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* about left */
.about-left{
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.abt-left-media{
    height: 50%;
    width: 15%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.medias{
    height: 40px;
    width: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.medias a{
    color: var(--others-purple);
}

/* .abt-left-presentation, .job-position, .abt-btn-contact{
    border: 1px solid red;
} */

.abt-left-presentation{
    height: 100%;
    width: 85%;

    padding-left: 40px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

h1{
    size: 20px;
    font-weight: 700;
}

.job-position {
    color: var(--text-gray-weight);
    size: 19px;
    margin-top: 1em;
}

.job-description {
    color: var(--text-gray);
    size: 15px;
    width: 80%;
    margin-top: 1em;
}

.abt-btn-contact{
    height: 46px;
    width: 140px;
    size: 20px;

    border-radius: 8px;
    border-color: var(--others-purple);
    border: none;

    color: white;
    background-color: var(--others-purple);

    margin-top: 2.5em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.abt-btn-contact i{
    color: white;
    padding-left: 0.5em;
}

/* about right */
.about-right{
    height: 100%;
    width: 50%;
}